# Ignore everything
*

# Allow main folder
!Library Database/

# Allow contents inside it
!Library Database/**

# Allow ONLY your folder inside
Library Database/*
!Library Database/2314630-WONG JIN XUAN/

# Allow specific files
!Library Database/CreateInsert.txt
!Library Database/ERD Diagram.drawio.pdf

# Allow gitignore
!.gitignore